@font-face {
	font-family:'ProximaNova';
	src: url('../fonts/ProximaNova_Semibold/ProximaNova_Semibold.eot');
	src: url('../fonts/ProximaNova_Semibold/ProximaNova_Semibold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova_Semibold/ProximaNova_Semibold.woff') format('woff'),
		url('../fonts/ProximaNova_Semibold/ProximaNova_Semibold.ttf') format('truetype'),
		url('../fonts/ProximaNova_Semibold/ProximaNova_Semibold.svg#ProximaNova-Semibold') format('svg');
	font-weight: 600;
	font-style: normal;
}