@font-face {
	font-family:'ProximaNova';
	src: url('../fonts/ProximaNova_Light/ProximaNova_Light.eot');
	src: url('../fonts/ProximaNova_Light/ProximaNova_Light.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova_Light/ProximaNova_Light.woff') format('woff'),
		url('../fonts/ProximaNova_Light/ProximaNova_Light.ttf') format('truetype'),
		url('../fonts/ProximaNova_Light/ProximaNova_Light.svg#ProximaNova-Light') format('svg');
	font-weight: 300;
	font-style: normal;
}