@font-face {
	font-family:'ProximaNova';
	src: url('../fonts/ProximaNova_Regular/ProximaNova_Regular.eot');
	src: url('../fonts/ProximaNova_Regular/ProximaNova_Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/ProximaNova_Regular/ProximaNova_Regular.woff') format('woff'),
		url('../fonts/ProximaNova_Regular/ProximaNova_Regular.ttf') format('truetype'),
		url('../fonts/ProximaNova_Regular/ProximaNova_Regular.svg#ProximaNova-Regular') format('svg');
	font-weight: 400;
	font-style: normal;
}